@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 1200px;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  background: #F2F2F2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.body-backdrop {
  min-width: 1200px;
  margin: 0 auto;
  background: #FFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.page-header {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  color: #000;
  background-color: #FFF;
}

.navigation {
  width: calc((100% - 138px) / 2);
  padding: 0 71px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation-item:not(:last-child) {
  margin-right: 33px;
}

.navigation-link {
  display: block;
  padding: 21px 0;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  color: #000;
}

.navigation-link:hover {
  color: rgba(117, 98, 87, 0.7);
}

.navigation-link:focus {
  color: rgba(117, 98, 87, 0.7);
  outline: 3px solid #83B3D3;
  border-radius: 10px;
  border: none;
  padding: 5px 0 5px;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.7);
  border: none;
  opacity: 0.3;
}

.active-link {
  z-index: 2;
  border-bottom: 2px solid #756257;
}

.logo {
  z-index: 1;
  height: 65px;
  align-self: flex-start;
}

.navigation-user {
  justify-content: flex-end;
  width: calc((100% - 138px) / 2);
  padding: 0 72px 0 45px;
}

.navigation-link-find {
  margin-right: -12px;
}

.navigation-item-favorite {
  position: relative;
}

.navigation-item-favorite .navigation-link {
  padding: 13px 0;
}

.navigation-item-favorite:hover .favorite,
.navigation-item-favorite:focus .favorite,
.navigation-item-favorite:active .favorite{
  opacity: 1;
  visibility: visible;
}

.navigation-list img {
  display: block;
}

.like-count {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(72%, 15%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19px;
  height: 19px;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: -0.1em;
  color: #FFF;
  background: #7DB54F;
  border-radius: 50%;
}

.favorite {
  position: absolute;
  top:100%;
  left: 50%;
  transform: translate(-49.5%, 3%);
  z-index: 9;
  width: 400px;
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  visibility: hidden;
  opacity: 0;
  background-color: #FFF;
  transition: all 0.3s ease-out;
}

.arrow-box {
	border: 1px solid #E4E4E4;
}

.arrow-box:after, .arrow-box:before {
  position: absolute;
	bottom: 100%;
	left: 50%;
  height: 0;
	width: 0;
	content: "";
	pointer-events: none;
  border: solid transparent;
}

.hotel-card-item {
  display: flex;
  justify-content: space-between;
  margin: 25px 23px;
}

.hotel-photo-item img {
  max-width: 48px;
  max-height: 48px;
  border-radius: 24px;
}

.favorite-hotel {
  display: flex;
}

.favorite-hotel:hover {
  opacity: 0.5;
}

.favorite-hotel:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.favorite-hotel:active {
  opacity: 0.3;
}

.favorite-hotel-information {
  width: 72%;
  margin: 0;
  margin-left: 17px;
}

.favorite-hotel-name {
  margin: 0;
  font-size: 18px;
}

.hotel-card-link {
  line-height: 31px;
  color: #000;
  text-decoration: none;
}

.hotel-card-link-favorite {
  line-height: 25px;
}

.favorite-hotel-type {
  margin: 0;
  font-size: 16px;
}

.hotel-delete {
  width: 16px;
  height: 16px;
  margin-top: 6px;
  opacity: 0.3;
}

.hotel-delete:hover {
  opacity: 1;
}

.hotel-delete:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
  opacity: 1;
}

.hotel-delete:active {
  opacity: 0.2;
}

.button {
  display: inline-block;
  min-width: 151px;
  padding: 8px 4px;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
  border-radius: 4px;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.button:hover {
  background: #615048;
}

.button:focus {
  background: #615048;
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.favorite-button:hover {
  background: #615048;
}

.favorite-button:focus {
  background: #615048;
  outline: 3px solid #83B3D3;
  border-radius: 0px 0px 20px 20px;
}

.favorite-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.open-modal {
  width: 160px;
}

.button-accent {
  background: #756257;
}

.button-all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 60px;
  border-radius: 0px 0px 20px 20px;
  margin: 0 -1px;
}

.arrow-box:after {
  margin-left: -10px;
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #FFF;
	border-width: 10px;
}

.main {
  flex-grow: 1;
}

.hero {
  position: relative;
  padding: 51px 0 82px;
  background-color: #83B3D3;
  background-image: url("../img/main-page/background-new.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.main-words {
  display: block;
  margin: 0 auto;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.page-container-sm {
  padding: 0 71px;
}

.introduction {
  padding: 61px 168px 80px;
  line-height: 36px;
  text-align: center;
}

.slogan {
  margin: 0 0 33px;
  font-size: 30px;
  text-transform: uppercase;
}

.under-slogan {
  margin: 0;
  font-size: 22px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: item;
}

.advantages-item-image {
  display: flex;
  flex-wrap: wrap;
  color: #FFF;
  background: #83B3D3;
}

.advantages-item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% / 3);
  padding: 20px;
  text-align: center;
}

.advantages-title {
  max-width: 60%;
  margin: 0 auto 18px;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-title-num::after {
  display: block;
  margin: 26px 0;
  counter-increment: item;
  content: "— №" counter(item) " — ";
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.advantages-discription-image {
  max-width: 60%;
  margin: 0 auto;
}

.advantages-item-image img {
  width: 100%;
  height: 100%;
  max-width: calc(100% /3 *2);
  object-fit: cover;
}

.advantages-sublist {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% / 3);
  min-height: 384px;
  padding: 20px;
  text-align: center;
  background: rgba(131, 179, 211, 0.12);
}

.advantages-sublist .advantages-item:nth-child(even) {
  background-color: #FFF;
}

.advantages-item-darker-bg {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-item-icon-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-height: 76px;
  margin-bottom: 22px;
}

.advantages-item-icon {
  flex: 0 0 auto;
  max-width: 100%;
  height: auto;
}

.advantages-description {
  max-width: 65%;
  min-height: 56px;
  margin: 0 auto;
}

.advantages-title-num {
  max-width: 50%;
  margin: 0 auto;
}

.if-interested {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 720px;
  margin: 0 auto;
  padding: 88px 0 89px;
  text-align: center;
}

.if-interested-title {
  margin: 0 0 30px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.send-data {
  margin: 0 auto 59px;
  font-size: 22px;
  line-height: 26px;
}

.button-lg {
  width: 575px;
  padding: 13px;
  font-size: 20px;
  line-height: 36px;
  border-radius: 10px;
}

.submit-section {
  padding: 0 200px 138px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.submit-section-home {
  height: 100%;
  padding: 98px 200px 93px;
  color: #FFF;
  background-color: #83B3D3;
  background-image: url("../img/main-page/background.png");
  background-size: cover;
  background-position: center;
}

.submit-title {
  margin: 0 0 35px;
  font-size: 30px;
  text-transform: uppercase;
}

.submit-description {
  max-width: 60%;
  margin: 0 auto 45px;
}

.submit-form {
  display: flex;
  justify-content: center;
}

.e-mail {
  display: block;
  width: 600px;
}

.e-mail-placeholder {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 22px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  background: #F2F2F2;
  border-radius:  10px 0 0 10px;
  border: 0;
}

.e-mail-placeholder:hover {
  background: #E6E6E6;
}

.e-mail-placeholder:focus {
  background: #E6E6E6;
  outline: 3px solid #83B3D3;
  border-radius: 10px 0 0 10px;
}

.e-mail-placeholder:active {
  background: #FFF;
  outline: 3px solid #000000;
  border-radius: 10px 0 0 10px;
}

.button-brand {
  padding: 14px;
  background: #83B3D3;
  border: none;
}

.button-brand:hover {
  background: #68A2CA;
}

.button-brand:focus {
  background: #68A2CA;
  outline: 3px solid #756257;
  border-radius: 4px;
}

.button-brand:active {
  background: #68A2CA;
  outline: 3px solid #756257;
  border-radius: 4px;
  color: rgba(131, 179, 211, 0.8);
}

.button-subscribe {
  width: 200px;
  padding: 18px 0;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  border-radius: 0 10px 10px 0;
}

.button-subscribe:hover {
  background: #68A2CA;
}

.button-subscribe:focus {
  border-radius: 0 10px 10px 0;
}

.button-subscribe:active {
  border-radius: 0 10px 10px 0;
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.page-footer-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 29px 0 35px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  margin: 0 8px;
  padding: 0;
  list-style: none;
}

.footer-social-item {
  transition: all 0.3s ease-out;
}

.footer-social-item:not(:last-child) {
  margin-right: 30px;
}

.footer-social-item:hover,
.footer-social-item:focus,
.footer-social-item:active {
  transform: scale(1.2);
}

.phone-number {
  width: 720px;
  margin-right: 17px;
  padding: 10px 0;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000;
  text-decoration: none;
  transition: all 0.3s ease-out;
  overflow: auto;
}

.phone-number:hover {
  color: #756257;
}

.phone-number:focus {
  color: #756257;
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.phone-number:active {
  color: #756257;
  opacity: 0.3;
}

.social-link {
  width: 20%;
}

.html-logo {
  margin-left: 46px;
  padding-top: 5px;
  height: 34px;
  transition: all 0.3s ease-out;
}

.social-link:hover {
  color: rgba(255, 255, 255, 0.3);
}

.social-link:focus {
  color: rgba(255, 255, 255, 0.3);
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.social-link:active {
  color: rgba(255, 255, 255, 0.3);
  opacity: 0.3;
}

.modal-container {
  position: fixed;
  left: 50%;
  top: 30%;
  z-index: 1;
  width: 715px;
  margin: auto;
  padding: 53px 68px 48px 68px;
  font-weight: bold;
  background: #FFF;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  transform: translateX(-50%);
}

.modal-hero {
  display: flex;
  justify-content: space-between;
  margin-bottom: 54px;
  line-height: 40px;
}

.hotel-find-title {
  margin: 0;
  padding-top: 7px;
  padding-left: 2px;
  width: 450px;
  font-size: 30px;
  text-transform: uppercase;
}

.modal-close {
  display: none;
}

.modal-close-button {
  width: 53px;
  height: 53px;
  border: none;
  background: #F2F2F2 url("../img/main-page/close.svg") no-repeat center;
  cursor: pointer;
  border-radius: 50%;
}

.modal-close-button:hover {
  background: #E6E6E6 url("../img/main-page/close.svg") no-repeat center;
}

.modal-close-button:focus {
  outline: 3px solid #83B3D3;
  border-radius: 50%;
  background: #E6E6E6 url("../img/main-page/close.svg") no-repeat center;
}

.modal-close-button:active {
  background: #E6E6E6 url("../img/main-page/close.svg") no-repeat center;
  opacity: 0.5;
}

.data {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.data-legend {
  width: 155px;
  padding-left: 4px;
  padding-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.data-field {
  width: 420px;
  height: 50px;
  padding: 0 18px;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  border-radius: 4px;
  border: none;
  background:#F2F2F2 url("../img/main-page/calendar.svg") no-repeat center right 20px;
}

.data-field:hover {
  background:#E6E6E6 url("../img/main-page/calendar.svg") no-repeat center right 20px;
}

.data-field:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
  background:#E6E6E6 url("../img/main-page/calendar.svg") no-repeat center right 20px;
}

.data-field:active {
  outline: 3px solid #000;
  border-radius: 4px;
  background:#FFF url("../img/main-page/calendar.svg") no-repeat center right 20px;
}

input::-webkit-calendar-picker-indicator {
  opacity: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-message {
  margin: 0;
  margin-left: 159px;
  margin-bottom: 16px;
  padding-top: 4px;
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

.error {
  color: #FF5757;
}

.person-count {
  display: flex;
  justify-content: space-between;
}

.person-change {
  position: relative;
  display: flex;
  align-items: center;
}

.button-less {
  position: absolute;
  right: 94px;
  top: 12px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  opacity: 0.3;
}

.button-less:hover {
  opacity: 1;
}

.button-less:focus {
  border: 3px solid #83B3D3;
  border-radius: 4px;
  opacity: 1;
}

.button-less:active {
  border: none;
  opacity: 0.2;
}

.button-more {
  position: absolute;
  right: 13px;
  top: 12px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  opacity: 0.3;
}

.button-more:hover {
  opacity: 1;
}

.button-more:focus {
  border: 3px solid #83B3D3;
  border-radius: 4px;
  opacity: 1;
}

.button-more:active {
  border: none;
  opacity: 0.2;
}

.person-count-field {
  position: relative;
  width: 136px;
  height: 50px;
  padding-left: 9px;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  border-radius: 4px;
  border: none;
  background-color: #F2F2F2;
}

.data-legend-child {
  margin-right: 11px;
}

.instruction {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  color: #FFF;
  background: #83B3D3;
  border-radius: 50px;
  margin-right: 16px;
}

.children-notice {
  position: absolute;
  top: 105%;
  left: -26%;
  z-index: 1;
  display: flex;
  align-items: center;
  width: 256px;
  height: 143px;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: normal;
  color: #FFFFFF;
  background: #333333;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  visibility: hidden;
  transition: all 0.3s ease-out;
}

.instruction:hover + .children-notice,
.instruction:focus + .children-notice,
.instruction:active + .children-notice {
  opacity: 1;
  visibility: visible;
}

.arrow-box-black {
  border: 1px solid #333;
}

.arrow-box-black:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #333;
	border-width: 10px;
	margin-left: -10px;
}

.arrow-box-black:before {
	border-color: rgba(228, 228, 228, 0);
	border-bottom-color: #333;
	border-width: 11px;
	margin-left: -11px;
}

.search {
  margin: 40px 0 22px;
}

.search-btn {
  margin-left: 3px;
  padding: 12px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.8);
}

.backgroud-image {
  color: #FFF;
  background-color: #83B3D3;
  background-image: url("../img/hotels/catalog-background.jpg");
  background-size: cover;
}

.hotel-choose-container {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 69px;
}

.inner-header {
  padding: 30px 70px 45px;
}

.inner-header-title {
  margin: 0;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding-left: 2px;
  font-size: 16px;
  list-style: none;
}

.breadcrumbs-item:hover {
  opacity: 0.5;
}

.breadcrumbs-item:focus {
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.breadcrumbs-item:active {
  opacity: 0.3;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 10px;
}

.breadcrumbs-link {
  text-decoration: none;
}

.price-changes {
  display: flex;
  justify-content: space-between;
  padding: 0 71px;
}

.hotels-preferencies {
  width: 20%;
  margin: 0;
  padding: 0;
  border: none;
}

.filter-title {
  padding: 0 0 35px;
  font-weight: bold;
  font-size: 20px;
}

.catalog-filter-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hotels-type {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotels-price {
  width: 39%;
  padding-left: 97px;
}

.control {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.control-mark {
  position: relative;
  display: block;
  width: 20px;
  min-width: 20px;
  height: 20px;
  min-height: 20px;
  margin-right: 19px;
  border-radius: 4px;
  background: #FFF;
}

.control-mark:hover {
  opacity: 0.5;
}

.control-mark:focus {
  outline: 3px solid #83B3D3;
}

.control-mark:active {
  opacity: 0.3;
}

input[type="checkbox"]:checked + .control-mark::after {
  content: "";
  display: block;
  width: 12px;
  height: 10px;
  background: url("../img/hotels/done.svg") no-repeat;
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
}

input[type="radio"] + .control-mark {
  border-radius: 50%;
}

input[type="radio"]:checked + .control-mark::after {
  background: #3F5E72;
  content: "";
  display: block;
  width: 10px;
  min-width: 10px;
  height: 10px;
  min-height: 10px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
}

.price-range {
  display: flex;
  width: 287px;
  margin: 5px 0 20px;
  border: 2px solid #FFF;
  border-radius: 4px;
}

.price-filter-label {
  position: relative;
}

.price-filter-label span {
  position: absolute;
  right: 14px;
  top: 55%;
  width: 20px;
  height: 23px;
  transform: translateY(-60%);
  opacity: 0.3;
  overflow: auto;
}

.price-filter-input {
  width: 142px;
  padding: 13px 16px 10px;
  font-size: 18px;
  color: #FFF;
  border: none;
  background: none;
}

.price-filter-input:hover {
  opacity: 0.3;
}

.price-filter-input:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.price-filter-input:active {
  background: #756257;
}

.price-filter-label:first-child .price-filter-input{
  border-right: 1px solid #FFF;
}

.price-filter-label:last-child .price-filter-input{
  border-left: 1px solid #FFF;
}


.price-filter-input::-webkit-outer-spin-button,
.price-filter-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.fake-range {
  position: relative;
  display: flex;
  align-items: center;
}

.fake-range::before {
  position: absolute;
  left: 0;
  top: 50%;
  display: block;
  width: 75%;
  height: 4px;
  transform: translateY(-50%);
  content: "";
  background-color: #FFF;
}

.fake-range-btn {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  border-radius: 5px;
  border: 0;
  outline: none;
}

.fake-range-btn:hover {
  opacity: 0.3;
}

.fake-range-btn:focus {
  border: 3px solid #83B3D3;
}

.fake-range-btn:active {
  opacity: 0.8;
  border: 2px solid #83B3D3;
}

.end-button {
  transform: translateX(197px);
}

.fake-range::after {
  position: absolute;
  left: 0;
  top: 50%;
  display: block;
  width: 287px;
  height: 4px;
  transform: translateY(-50%);
  content: "";
  background-color: #FFF;
  opacity: 0.3;
}

.price-filter-group {
  display: flex;
  width: 15%;
  margin-top: 57px;
  margin-left: 52px;
  flex-direction: column;
  align-self:center;
}

.price-filter-reset {
  margin-top: 10px;
  padding: 10px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  color: #FFF;
  background: none;
  border: none;
  border-radius: 4px;
}

.price-filter-reset:hover {
  opacity: 0.5;
}

.price-filter-reset:focus {
  outline: 3px solid #83B3D3;
}

.price-filter-reset:active {
  opacity: 0.3;
}

.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 43px 0 42px;
}

.sorting-quantity {
  width: 40%;
  margin: 0;
  padding-top: 9px;
  font-weight: bold;
  line-height: 39px;
  font-size: 30px;
  text-transform: uppercase;
}

.sorting-form {
  margin-right: 81px;
  margin-left: auto;
}

.sorting-form:hover {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.sorting-form:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.sorting-form:active {
  opacity: 0.3;
}

.select-control {
  width: 287px;
  padding: 8px 16px 12px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  color: #333;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  background: #FFF url("../img/hotels/strelka-vniz.svg") no-repeat right 20px center;
  appearance: none;
}

.change-view {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.change-view-item:not(:last-child) {
  margin-right: 9px;
}

.change-view-item:hover {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.change-view-item:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.change-view-item:active {
  outline: 3px solid #000;
  border-radius: 4px;
}

.change-view-button {
  display: flex;
  width: 48px;
  height: 48px;
  padding: 5px;
  align-items: center;
  justify-content: center;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
}

.hotel-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotel {
  border-top: 1px solid #E6E6E6;
}

.hotel:last-child {
  border-bottom: 1px solid #E6E6E6;
}

.hotel-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 21px 0 17px;
}

.hotel-photo {
  margin-bottom: 4px;
}

.hotel-photo img{
  max-width: 180px;
  max-height: 120px;
}

.hotel-photo:hover {
  opacity: 0.3;
}

.hotel-photo:focus {
  outline: 3px solid #83B3D3;
}

.hotel-photo:active {
  opacity: 0.3;
}

.hotel-information {
  display: flex;
  flex-direction: column;
  margin-left: 36px;
  margin-bottom: 12px;
  padding-top: 5px;
}

.hotel-name {
  margin: 0;
  font-size: 24px;
  line-height: 31px;
  margin-bottom: 2px;
}

.hotel-card-link:hover {
  color: #756257;
}

.hotel-card-link:focus {
  color: #756257;
  outline: 3px solid #83B3D3;
  padding: 5px;
  border-radius: 10px;
}

.hotel-card-link:active {
  color: #756257;
  opacity: 0.3;
}

.hotel-discription {
  display: flex;
  justify-content: space-between;
  width: 235px;
  margin-bottom: 33px;
}

.hotel-card-price {
  margin: 0;
  padding-right: 10px;
}

.hotel-price {
  margin: 0;
}

.hotel-button:not(:last-child) {
  margin-right: 3px ;
}

.button-md {
  min-width: 160px;
  padding: 9px 0;
}

.rank {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  margin-bottom: 14px;
}

.rank-stars {
  margin-bottom: 58px;
  text-align: center;
}

.rank-stars-one .rank-star:not(:first-child) {
  display: none;
}

.rank-stars-two .rank-star:nth-child(n+3) {
  display: none;
}

.rank-stars-three .rank-star:nth-child(n+4) {
  display: none;
}

.rank-stars-four .rank-star:nth-child(n+5) {
  display: none;
}

.button-success {
  background: #7DB54F;
}

.button-success:hover {
  background: #6C9E42;
  outline: 3px solid #756257;
  border-radius: 4px;
}

.button-success:focus {
  background: #6C9E42;
  outline: 2px solid #756257;
  border-radius: 4px;
}

.button-success:active {
  background: #6C9E42;
  color: rgba(125, 181, 79, 0.8);
}

.download-more {
  display: block;
  width: 625px;
  margin: 30px auto;
  padding: 10px;
  border-radius: 4px;
}

.page-change {
  display: flex;
  justify-content: space-between;
  padding: 29px 0 90px;
  border-top: 1px solid #E6E6E6;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  padding-right: 10px;
  list-style: none;
}

.pagination-item:not(:last-child) {
  margin-right: 7.5px;
}

.pagination-link:last-child {
  margin-right: 0;
}

.pagination-link {
  display: inline-block;
  min-width: 55px;
  line-height: 55px;
  color: #FFF;
  text-decoration: none;
  text-align: center;
  background: #83B3D3;
  border-radius: 4px;
}

.pagination-current {
  background: #F2F2F2;
  color: #000;
}

.hotels-on-page {
  margin-left: auto;
  margin-right: 52px;
}

.hotels-control {
  width: 160px;
  padding: 14px 15px;
  font-size: 18px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  background: #FFF url("../img/hotels/strelka-vniz.svg") no-repeat right 20px center;
  appearance: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
